body{
    margin: 0px;
}
.section-one{
    display: flex;
    height: 850px;
    flex-direction:column;
}
.sectionOne-divOne{
    border: 1px solid gray;
    margin: 25% 35% 1% 35%;
    padding: 10px 20px;
    
}
.sectionOne-divOne h1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    
}
span{
    color: tomato;
}
.sectionOne-divTwo{
   
    margin-left: 43%;
}
.sectionOne-divTwo a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.sectionOne-divThree{
    display:flex;
    margin-top: 150px;
    }
    
    .half i{
    color: tomato;
    position: absolute;
    left: 250px;
    font-size: 30px;
    }
    .half a{
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    left: 990px;
    font-size: 20px;
    }
.section-one{
    background-image: url(images/image@1X.png);
}
.our-team{
    text-align: center;
    padding-top: 100px;
}
 h1{
    color: white;
    font-size: 30px;
}
h6{
    color: tomato;
    font-size: 20px;
}
.str{
    display: flex;
    padding-bottom: 100px;
   
    
}
.moto{
    width: 25%;
    /* border: 1px solid gray; */
    margin-left: 70px;
    padding: 10px 60px 10px 60px;
    
}
.moto i{
    color: tomato;
}
.moto p, h2{
    color: whitesmoke;
}
.like-items{
    text-decoration: none;
    color: white;
}
.Section-two{
    margin-top: -1px;
    background-image: url(images/BackgroundS2.png);
}
.block-company h3{
    display: inline;

}
.block-company h3{
    font-size: 20px;
    color: whitesmoke;
    
}
.block-company{
    margin-left: 500px;
    padding: 10px 60px;

}
.para-shadow{
    background-color: #181818;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    padding: 50px;
    
    
    
}
.para-shadow p, small{
    color:whitesmoke;
    text-align: center;
}
.para-shadow span{
    color: tomato;
}
.section-three{
    margin-top: -1px;
    margin-bottom: 0px;
    background-image: url(images/BackgroundCompany.png);
}
